
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <title>Dashbord</title>
</head>
<body>
    <div>
        <a href="~/Views/ProductTables/Index.cshtml" class="d-flex btn btn-primary">View Products</a>
    </div>
    <script src="~/js/bootstrap.min.js"></script>
</body>
</html>





